.nav{
  width: 100vw;
  background-color: #333;
  color: aliceblue;
  padding: 1vw;
}

.section{
  width: 98vw;
  background-color: #ebebeb;
  color: aliceblue;
  margin: 1vw;
  border-radius: 2px;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
  display: flex;
}

.blogs{
  width: 95vw;
  background-color: #ebebeb;
  color: aliceblue;
  margin: 2vw;
  border-radius: 2px;
  height: 60vh;
  max-height: 100%;
  overflow-y: scroll;
}

.blog{
  max-width: 27%;
  background-color: #4b4b4b;
  color: aliceblue;
  padding: 1vw 1vw 3vw 1vw;
  border-radius: 2px;
  margin: 1vw;
  position: relative;
  display: inline-block;
}

.addblog{
  padding: 1vw;
}

.addblog h3{
  color: #333;
}

.addblog *{
  margin-bottom: 1rem;
}

.del{
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  background-color: #fa5151;
  border: none;
  color: #000;
  border-radius: 2px;
}